obj
Debug
Release
SmartAssembly
bin
ipch
*.docstates
*.vsmdi
*.sdf
*.opensdf
*.log
*.user
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.vsp
*.psess
*.cache
*.testsettings
*~
*.swp
TestResults
